main {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
}

.formAdd {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    input {
        color: var(--green-800);
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        background-color: var(--green-200);
        padding: 0.5rem 1rem;
        border: 2px solid var(--green-400);
        border-radius: 0.25em;
    }
}

.filter {
    display: flex;
    gap: 0.5rem;
    overflow-x: auto;

    button {
        display: block;
        font-size: 1rem;
        color: var(--green-400);
        background-color: transparent;
        border: 2px solid var(--green-800);
        border-radius: 3000px;
        padding: 0.5em 1em;

        &.active {
            background-color: var(--green-400);
            color: var(--green-100);
        }
    }
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    > li {
        padding: 1rem 1rem 1.5rem 1rem;
        border: 3px solid var(--green-400);
        border-radius: 0.5em;
        box-sizing: border-box;

        .header {
            position: relative;
            display: flex;
            justify-content: space-between;
            color: var(--green-400);

            input[type="text"] {
                font-size: 1rem;
                color: var(--green-800);
                background-color: transparent;
                width: 100%;
                border: none;
                border-bottom: 3px solid var(--green-400);
                padding: 0.25em;

                &:focus {
                    outline: 2px solid var(--green-400);
                }
            }

            button {
                font-size: 1.5rem;
                color: var(--green-400);
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
            .menu-list {
                display: none;
                position: absolute;
                top: 2rem;
                right: 0;
                background-color: var(--green-200);

                border-radius: 0.5em;
                border: 3px solid var(--green-400);

                button {
                    display: block;
                    font-size: 1rem;
                    color: var(--green-100);
                    background-color: transparent;
                    border: none;
                    padding: 0.5em 1em;
                    cursor: pointer;
                }

                &.active {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                }
            }
        }
        .sort {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            color: var(--green-400);
            margin-bottom: 0.5rem;
        }
        .todo {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            li {
                display: flex;
                justify-content: space-between;

                > div,
                label {
                    display: flex;
                    gap: 0.5rem;
                }
                label {
                    color: var(--green-800);

                    [type="checkbox"] {
                        appearance: none;
                        width: 1.5rem;
                        height: 1.5rem;
                        border: 2px solid var(--green-800);
                        border-radius: 0.25em;
                        cursor: pointer;
                        transition: background-color 0.3s;

                        &:checked {
                            position: relative;
                            background-color: var(--green-400);

                            &::after {
                                content: "✓";
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                color: var(--green-100);
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
                input[type="text"] {
                    font-size: 1rem;
                    color: var(--green-800);
                    background-color: transparent;
                    width: 100%;
                    border: none;
                    border-bottom: 3px solid var(--green-400);
                    padding: 0.25em;

                    &:focus {
                        outline: 2px solid var(--green-400);
                    }
                }
                button {
                    font-size: 1.5rem;
                    color: var(--green-400);
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}
