@import "../node_modules/@fontsource/poppins";
@import "../node_modules/@fontsource/poppins/700.css";
:root {
    --green-100: #dad7cd;
    --green-200: #a3b18a;
    --green-400: #588157;
    --green-700: #3a5a40;
    --green-800: #344e41;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--green-100);
}

ul {
    list-style: none;
}

select {
    color: var(--green-800);
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    background-color: var(--green-200);
    padding: 0.5rem 1rem;
    border: 2px solid var(--green-400);
    border-radius: 0.25em;
}
